@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,600|Pacifico");

// FONTS
$oswald: "Oswald", sans-serif;
$pacifico: "Pacifico", cursive;
$open-sans: "Open Sans", sans-serif;

//COLOURS
$blue: #31d9c0;
$orange: #f6992a;
$yellow: #f5e330;
$light-pink: #ffb79d;
$dark-pink: #f38e7a;
$hot-pink: #ff236a;
